<div class="container-fluid">
  {{!-- Error status code --}}
  <section class="row d-flex justify-content-center mt-1 mb-3">
    <div class="col-6 col-lg-11 text-center">
      <span class="fw-bold mx-3"
        style="color: rgb(88, 160, 180); font-size:4.5rem">{{status}}</span>
    </div>
  </section>
  {{!-- Error message --}}
  <section class="row d-flex my-4">
    <div class="col col-sm-12 text-center">
      <span class="fw-bold mx-3"
        style="font-size:2.5rem">{{errName}}</span>
          <div style="font-size: 1.5rem;">{{errMessage}}</div>
        <a href="/"><button class="btn btn-outline-secondary mt-5 col-sm-5 fs-5" type="button">回首頁</button></a>
    </div>
  </section>
</div>