<div class="container-sm">
  <div class="row d-flex justify-content-center my-4">
    <section class="create-section">
          <div class="container">
            <div class="row justify-content-center">
              <div class="col-12 col-md-8 col-lg-6 col-xl-5">
                <div class="card border-secondary mb-3">
                  <div class="card-body p-4 text-secondary">
                    <div class="my-md-4">
                      <div class="row card-title mb-3">
                        <div class="col-3 d-flex align-items-end"> <p class="mb-0" style="font-family: huninn;">*為必填欄位</p></div>
                        <div class="text-center col-9 pt-1">
                          <h2 class="fw-bold my-3 text-uppercase" style="font-family: huninn;">請輸入支出</h2>
                        </div>
                      </div>
                      <form action="/records" method="POST">
                        <div class="form-outline form-white mb-4 d-flex">
                          <div class="col-3 d-flex align-items-center"><label class="form-label fs-4 fw-bold" for="itemName">名稱*：</label></div>
                          <div class="col-9"><input type="text" id="itemName" name="itemName" class="form-control form-control-lg" /></div>
                      </div>
                      <div class="form-outline form-white mb-4 d-flex">
                        <div class="col-3 d-flex align-items-center"> <label class="form-label fs-4 fw-bold" for="date">日期*：</label></div>
                        <div class="col-9"><input type="date" id="date" name="date" class="form-control form-control-lg" /></div>
                      </div>
                      <div class="form-outline form-white mb-4 d-flex">
                        <div class="col-3 d-flex align-items-center"> <label class="form-label fs-4 fw-bold" for="category">類別*：</label></div>
                        <div class="col-9">
                          <select name="category" id="category" class="form-select form-select-lg">
                            <option value="" disabled selected>請選擇</option>
                            <option value="家居">家居</option>
                            <option value="交通">交通</option>
                            <option value="休閒娛樂">休閒娛樂</option>
                            <option value="餐飲">餐飲</option>
                            <option value="其他">其他</option>
                          </select>
                        </div>
                      </div>
                      <div class="form-outline form-white mb-4 d-flex">
                        <div class="col-3 d-flex align-items-center"> <label class="form-label fs-4 fw-bold" for="amount">金額*：</label></div>
                        <div class="col-9"><input type="number" id="amount" name="amount" class="form-control form-control-lg" /></div>
                      </div>
                      <div class="col text-center">
                        <button class="btn btn-outline-info col-sm-3 fs-5" type="submit" >新增支出</button>
                        <a href="/"><button class="btn btn-outline-secondary col-sm-3 fs-5" type="button">回首頁</button></a>
                      </div>
                      </form> 
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
    </section>
  </div>
</div>