@font-face {
  font-family:'Iansui';
  src: url('../stylesheets/fonts/Iansui-Regular.ttf')format("truetype");
}
html, body{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

nav{
  width: 100%;
}

td{
  max-width: 40vw;
  word-wrap: break-word;
}