@font-face {
  font-family:'huninn';
  src: url('../stylesheets/fonts/jf-openhuninn-1.1.ttf')format("truetype");
}
html, body{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  height: 101%;
}

nav{
  width: 100%;
}

td{
  max-width: 40vw;
  word-wrap: break-word;
}
.divider:after,
.divider:before {
content: "";
flex: 1;
height: 1px;
background: #eee;
}